@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@theme {
    --color-primary: #3d67ff;
    --color-dark-primary: #002ee5;
    --color-primary-light: #e9eeff;
    --color-white: #ffffff;
    --color-background: #f5f5f5;
    --color-textblack: #1a1a1a;
    --color-subtext-grey: #6b6b6b;
    --btn-padding: 0.625rem 1.25rem;
    --sticky-top-left: 5.4rem;
    --sticky-top-right: 5.4rem; 
}
* {
    font-family: 'Inter', sans-serif;
}


body{
    background-color: var(--color-background); 
}